* {
    surface:                #0f1417;
    on-surface:             #dfe3e7;
    surface-container:      #1b2023;
    surface-container-high: #262b2e;
    surface-container-highest: #303538;
    on-surface-variant:     #c0c8cd;
    primary:                #8bd0f0;
    on-primary:             #003546;
    outline:                #8a9297;
    error-container:        #93000a;
    on-error-container:     #ffdad6;
}
