* {
    surface:                      #090404;
    surface-container:            #090404;
    surface-container-high:       #665353;
    surface-container-highest:    #665353;
    on-surface:                   #c1c0c0;
    on-surface-variant:           #c1c0c0;
    primary:                      #4c4c4c;
    on-primary:                   #090404;
    outline:                      #665353;
    error-container:              #242424;
    on-error-container:           #090404;
    color4:                       #4c4c4c;
}
