* {
    surface:                      #05050d;
    surface-container:            #05050d;
    surface-container-high:       #555567;
    surface-container-highest:    #555567;
    on-surface:                   #c0c0c2;
    on-surface-variant:           #c0c0c2;
    primary:                      #5b4b4e;
    on-primary:                   #05050d;
    outline:                      #555567;
    error-container:              #262a40;
    on-error-container:           #05050d;
    color4:                       #5b4b4e;
}
