:root {
  --background-primary: #000000;
  --background-secondary: #121212;
  --background-tertiary: #1e1e1e;
  --text-normal: #e8e4d8;
  --text-muted: #a09f98;
  --interactive-accent: #e8e4d8;
  --header-primary: #e8e4d8;
}
