* {
    surface:                      #0b0b19;
    surface-container:            #0b0b19;
    surface-container-high:       #5a5a6e;
    surface-container-highest:    #5a5a6e;
    on-surface:                   #c2c2c5;
    on-surface-variant:           #c2c2c5;
    primary:                      #9c8c8c;
    on-primary:                   #0b0b19;
    outline:                      #5a5a6e;
    error-container:              #615d5a;
    on-error-container:           #0b0b19;
    color4:                       #9c8c8c;
}
